
.image {
    position: relative;
    left: 50%;
    top: 19%;
    transform: translate(-50%, -22%);
    background-image: url('./images/exit.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    width: 24rem;
    height: 220px;
}

@media screen and (max-width: 900px) {
  
    .image {
      position: relative;
      left: 50%;
      top: 19%;
      transform: translate(-50%, -22%);
      background-image: url('./images/exit.jpg');
      background-repeat: no-repeat;
      background-position:center;
      background-size: cover;
      width: 24rem;
      height: 220px;
    }
    
    .time {
      align-items: center;
      text-align: center;
      justify-content: center;
      position: relative;
      left: 50%;
      top: 1.5%;
      transform: translate(-50%, -2%);
    }
    
    }

@media screen and (max-width: 400px) {
  
    .image {
      position: relative;
      left: 50%;
      top: 19%;
      transform: translate(-50%, -22%);
      background-image: url('./images/exit.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 20rem;
      height: 200px;
    }
    
    .time {
      align-items: center;
      text-align: center;
      justify-content: center;
      position: relative;
      left: 50%;
      top: 1.5%;
      transform: translate(-50%, -2%);
    }
    
    }