*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}

.container
{
    width: 100%;
    height: 100vh;
    margin: 0;

}
.buttons{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
   
    
}
li
{
    list-style: none;
  
    width: 150px;
    height:150px;
    text-align: center;
    padding:10px;
    margin-bottom: 1rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
a{
    text-decoration:none;
    font-family: sans-serif;
    color:#fff;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
}
.leave-school{
   background-color: red;
   color:#fff;
   margin-left:6rem;
}
.come-back{
    background-color: green;
    margin-right:6rem;
}